
<div class="container" style="margin-top: 20px; max-width: 50%;">

  <form [formGroup]="signup" (ngSubmit)="submit()">
    <div class="form-group">
      <label>Food name</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Food name">
      <div class="invalid-feedback" style="display: block">
        <ng-container *ngIf="hasError('name', 'required')">This field is required</ng-container>
      </div>
    </div>

    <div class="form-group">
      <label>Food type</label>
      <input type="text" class="form-control" formControlName="foodType" placeholder="Type of food served">
    </div>

    <div class="form-group">
      <label>Facebook</label>
      <input type="text" class="form-control" formControlName="facebook" placeholder="Link to Facebook profile">
    </div>


    <div class="form-group">
      <app-food-upload formControlName="image" [progress]="progress"></app-food-upload>
      <div class="invalid-feedback" style="display: block">
        <ng-container *ngIf="hasError('image', 'required')">This field is required</ng-container>
        <ng-container *ngIf="hasError('image', 'requiredFileType')">Only PNG 🤡</ng-container>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

</div>
